<div class="carouselContainer">
    <div id="dfsCarousel" class="carousel slide" data-ride="carousel" data-isroi="{{spec.roiPrices}}">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {{#each slides}}
          <li data-target="#dfsCarousel" data-slide-to="{{@index}}" {{#if @first}} class="active"{{/if}}></li>
        {{/each}}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        {{#each slides}}
          <div class="item {{#if @first}} active {{/if}}" data-roi="{{../spec.roiPrices}}">
            <a href="{{productURL}}">
              <picture>
                <!-- WebP -->
                <source type="image/webp" media="(max-width: 1023px)"  srcset="//images.dfs.co.uk/i/dfs/?layer0=[canvas=600,462]&layer1=[src=/i/dfs/{{productImage.name}}&{{#if mobileMImageCrop}}{{mobileMImageCrop}}&{{/if}}{{#if productImageFullWidth}}w=800&ecrop=100,0,100,0&h=384&anchor=tl&top=78{{else}}w=600&h=384&anchor=tl&top=78{{/if}}]&layer2=[/i/dfs/{{mobileSidebarImage.name}}&w=600&sat=20]{{#if sideBarCharOnMobile }}&layer3=[/i/dfs/{{sidebarCharacter.name}}&{{mobileCharacterCrop}}&{{mobileCharacterSize}}&bottom={{sideBarCBottomMob}}&left={{sideBarCLeftMob}}&anchor=bl]{{/if}}&layer4=[src=/i/dfs/{{#if ../spec.roiPrices }}ROI_{{/if}}{{pricingImage.name}}&w=240{{#if pricingImageCrop}}&{{pricingImageCrop}}{{/if}}&anchor=br&right=0&bottom=30]&qlt={{#if mobileslidequality}}{{mobileslidequality}}{{else}}60{{/if}}&fmt.jpeg.chroma=1,1,1&fmt.jpeg.interlaced=true&fmt=webp">


                <!-- Jpg -->
                <source media="(max-width: 1023px)"  srcset="//images.dfs.co.uk/i/dfs/?layer0=[canvas=600,462]&layer1=[src=/i/dfs/{{productImage.name}}&{{#if desktopMImageCrop}}{{desktopMImageCrop}}&{{/if}}{{#if mobileMImageCrop}}{{mobileMImageCrop}}&{{/if}}{{#if productImageFullWidth}}w=800&ecrop=100,0,100,0&h=384&anchor=tl&top=78{{else}}w=600&h=384&anchor=tl&top=78{{/if}}]&layer2=[/i/dfs/{{mobileSidebarImage.name}}&w=600&sat=20]{{#if sideBarCharOnMobile }}&layer3=[/i/dfs/{{sidebarCharacter.name}}&{{mobileCharacterCrop}}&{{mobileCharacterSize}}&bottom={{sideBarCBottomMob}}&left={{sideBarCLeftMob}}&anchor=bl]{{/if}}&layer4=[src=/i/dfs/{{#if ../spec.roiPrices }}ROI_{{/if}}{{pricingImage.name}}&w=240{{#if pricingImageCrop}}&{{pricingImageCrop}}{{/if}}&anchor=br&right=0&bottom=30]&qlt={{#if mobileslidequality}}{{mobileslidequality}}{{else}}60{{/if}}&fmt.jpeg.chroma=1,1,1">



                <img src="//images.dfs.co.uk/i/dfs/?layer0=[canvas=600,462]&layer1=[src=/i/dfs/{{productImage.name}}&{{#if desktopMImageCrop}}{{desktopMImageCrop}}&{{/if}}{{#if mobileMImageCrop}}{{mobileMImageCrop}}&{{/if}}{{#if productImageFullWidth}}w=800&ecrop=100,0,100,0&h=384&anchor=tl&top=78{{else}}w=600&h=384&anchor=tl&top=78{{/if}}]&layer2=[/i/dfs/{{mobileSidebarImage.name}}&w=600&sat=20]{{#if sideBarCharOnMobile }}&layer3=[/i/dfs/{{sidebarCharacter.name}}&{{mobileCharacterCrop}}&{{mobileCharacterSize}}&bottom={{sideBarCBottomMob}}&left={{sideBarCLeftMob}}&anchor=bl]{{/if}}&layer4=[src=/i/dfs/{{#if ../spec.roiPrices }}ROI_{{/if}}{{pricingImage.name}}&w=240{{#if pricingImageCrop}}&{{pricingImageCrop}}{{/if}}&anchor=br&right=0&bottom=30]&qlt={{#if mobileslidequality}}{{mobileslidequality}}{{else}}60{{/if}}&fmt.jpeg.chroma=1,1,1">

              </picture>
              <div class="bannerTextContainer {{#if hasCountdown}} carCountdown {{/if}}"
                  data-countdown="{{countdownDeadline}}"
                  data-testdate="{{../spec.testDate}}"
                  data-messageid="slide_{{inc @index}}"
                  data-startdays="{{daysBeforeEnd}}"
                  data-messagec="{{messagec}}"
                  data-messaged="{{messaged}}"
                  data-tv1="{{textVariance1}}"
                  data-tv2="{{textVariance2}}"
                  data-tv3="{{textVariance3}}"
                  data-tv4="{{textVariance4}}">
                  <div class="bannerTextWrapper">
                    <h2 class="message{{inc @index}}a">{{messagea}}</h2>
                    <h2 class="message{{inc @index}}b">{{messageb}}</h2>
                    <p class="message{{inc @index}}c"></p>
                    <p class="message{{inc @index}}d"></p>
                  </div>
              </div>
            </a>
          </div>
        {{/each}}
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#dfsCarousel" data-slide="prev">
        <span></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#dfsCarousel" data-slide="next">
        <span></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <style>
  .uk, .roi {
    text-align: center;
    font-size: 14px;
    padding: 20px;
  }
  .bannerTextContainer.carCountdown {
    display: table;
  }
  .bannerTextWrapper{
    display: table-cell;
    vertical-align: middle;
  }
  .bannerTextWrapper h2.cdText span {
    margin: 0 1px;
    font-size: 14px !important;
  }
  {{#each slides}}
  .bannerTextContainer[data-messageid="slide_{{inc @index}}"] {
    bottom: {{textBottomPositionS}}px;
    left:{{textLeftPositionS}}px;
  }
  h2.message{{inc @index}}a {
      color:#{{#if textAColour}}{{csv textAColour 'M'}}{{else}}000000{{/if}} !important;
    font-size:{{mobileTextAFontSize}}px !important;
    line-height:{{mobileTextAFontSize}}px !important;
  }
  h2.message{{inc @index}}b {
    color:#{{#if textBColour}}{{csv textBColour 'M'}}{{else}}000000{{/if}} !important;
    font-size:{{mobileTextBFontSize}}px !important;
    line-height:{{mobileTextBFontSize}}px !important;
  }
  p.message{{inc @index}}c {
    color:#{{#if textCColour}}{{csv textCColour 'M'}}{{else}}000000{{/if}} !important;
    font-size:{{#if mobileTextBFontSize}}{{math mobileTextBFontSize "-" 4}}{{else}}12{{/if}}px !important;
    line-height:{{#if mobileTextBFontSize}}{{math tmobileTextBFontSize "-" 4}}{{else}}12{{/if}}px !important;
    margin-top:5px;
    display:none;
  }
  p.message{{inc @index}}d {
    color:#{{#if textDColour}}{{csv textDColour 'M'}}{{else}}000000{{/if}} !important;
    font-size:{{#if mobileTextBFontSize}}{{math mobileTextBFontSize "-" 4}}{{else}}12{{/if}}px !important;
    line-height:{{#if mobileTextBFontSize}}{{math tmobileTextBFontSize "-" 4}}{{else}}12{{/if}}px !important;
    display:none;
  }

  {{/each}}
  </style>
